<td class="pageId">
    {{ item.id }}
</td>
<td class="email">
    <a href="//users/edit/{{ item.username }}">{{ item.email }}</a>
</td>
<td class="username">{{ item.username }}</td>
<td class="role">
    {{ item.rolename }}
</td>
<td>{{ item.date }}</td>
<td>
    {{#statusPage item.status}}{{/statusPage}}
</td>
<td>
    <span class="intrash"></span>
</td>
