<td class="pageId">
    {{ item.id }}
</td>
<td class="pagename">
    <a href="/roles/edit/{{ item.name }}">{{ item.name }}</a>
</td>
<td>
    {{ item.description }}
</td>
<td>
    {{#statusPage item.status}}{{/statusPage}}
</td>
<td>
    <span class="intrash">
        <img src='{{ siteURL }}/frontend/img/admin/delete.png'>
    </span>
</td>
