<td class="pageId">
    {{ item.id }}
</td>
<td class="pagename">
    <a href="//modules/edit/{{ item.systemname }}">{{ item.name }}</a>
</td>
<td>{{ item.systemname }}</td>
<td>{{ item.author }}</td>
<td>{{ item.date }}</td>
<td>
    {{#statusPage item.status}}{{/statusPage}}
</td>
<td>
    <span class="intrash">
            <img src='{{ siteURL }}/frontend/img/admin/delete.png'>
    </span>
</td>
