<td class="pageId">
    {{ item.id }}
</td>
<td class="pagename">
    <a href="/{{ item.tablename }}/edit/{{ item.editfield }}">
        {{ item.name }}
    </a>
</td>
<td>
    {{printTypeItem item.tablename }}
</td>
<td>{{ item.date }}</td>
<td>
    <span class="recovery"></span>
</td>
<td>
    <span class="intrash delete"></span>
</td>